<div class="container">
  <div class="tree-actions-container">
    <div class="tree-title">All Notes</div>
    <div class="tree-actions">
      <button
        class="add-new-file"
        [disabled]="!canAddPage"
        (click)="addNewPage()"
      >
        <span class="material-symbols-outlined"> post_add </span>
      </button>
      <button class="add-new-folder" (click)="addNewBranch()">
        <span class="material-symbols-outlined"> create_new_folder </span>
      </button>
      <button class="refresh-btn" (click)="onRefresh()">
        <span class="material-symbols-outlined"> sync </span>
      </button>
    </div>
  </div>

  <div class="tree-search-bar">
    <div class="search-bar">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="search-bar-input">
      <input type="text" placeholder="Search" />
    </div>
  </div>

  <!-- <div class="btn-container">
    <button (click)="addNewBranch()">Add Branch</button>
  </div> -->

  <ng-container class="tree" *ngFor="let node of nodes">
    <app-branch
      [treeNode]="node"
      [currNodePath]="node.branchName"
      (onBranchSelect)="branchSelected($event)"
    ></app-branch>
  </ng-container>
</div>
