<div class="individual-page">
  <button class="page-icon" (click)="pageSelected()">
    <i class="fa-regular fa-file-lines"></i>
  </button>

  <div class="page-data">
    <div class="page-title" (dblclick)="editPageName()">
      <input
        type="text"
        [value]="pageData.pageName"
        [disabled]="!enablePageNameEdit"
        (blur)="renamePage()"
        (keyup.enter)="renamePage()"
        #pageNameField
      />
    </div>

    <div class="action-btn">
      <button (click)="removePage()">
        <span class="material-symbols-outlined"> delete </span>
      </button>
    </div>
  </div>
</div>
