<div class="container">
  <div class="login-form-container">
    <div class="login-form-title">
      <div class="login-form-title-row-1">Login</div>
      <div class="login-form-title-row-2">start taking notes</div>
    </div>

    <div class="login-form" [formGroup]="loginForm">
      <div class="login-form-fields">
        <label class="login-form-label" for="username">Username</label>
        <input
          type="text"
          class="login-form-input"
          id="username"
          formControlName="username"
        />
      </div>
      <div class="login-form-fields">
        <label class="login-form-label" for="password">Password</label>
        <div class="login-form-password">
          <input
            type="{{ pwdShow ? 'text' : 'password' }}"
            id="password"
            formControlName="password"
          />
          <button (click)="passwordToggle()">
            <ng-container *ngIf="pwdShow">
              <i class="fa-solid fa-eye"></i>
            </ng-container>
            <ng-container *ngIf="!pwdShow">
              <i class="fa-solid fa-eye-slash"></i>
            </ng-container>
          </button>
        </div>
      </div>

      <div class="login-form-fields">
        <a Href="#" class="forgot-password-field">Forgot Password?</a>
      </div>

      <div class="login-form-fields">
        <button class="login-button" (click)="onLoginBtnClick()">
          <span *ngIf="!isLoading">
            <span>Login</span>
            <span>
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </span>
          <span *ngIf="isLoading">
            <span class="loader"></span>
          </span>
        </button>
      </div>
    </div>

    <div class="signup-link">
      <p>
        Don't have an account? <a routerLink="/signup" href="#">Sign up now!</a>
      </p>
    </div>
  </div>
</div>
