.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.toast {
  position: absolute;
  bottom: 25px;
  right: 25px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  visibility: visible;
  transition: all 200ms ease;
}

/* ****************************************************** */
.loader {
  width: 50px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -8px 0 0 -8px;
  width: 18px;
  aspect-ratio: 1;
  background: #1577ea;
  animation: l1-1 2s infinite, l1-2 0.5s infinite;
}
.loader:after {
  background: #000;
  animation-delay: -1s, 0s;
}
@keyframes l1-1 {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 100%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 100%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes l1-2 {
  80%,
  100% {
    transform: rotate(0.5turn);
  }
}
