<div class="container">
  <div class="sign-up-container">
    <div class="sign-up-title">
      <div class="sign-up-title-line-1">Sign Up</div>
      <div class="sign-up-title-line-2">Create New Account</div>
    </div>

    <div class="signup-form" [formGroup]="signUpForm">
      <div class="signup-form-fields">
        <label class="signup-form-label" for="username">Username</label>
        <input
          type="text"
          class="signup-form-input"
          id="username"
          formControlName="username"
        />
      </div>

      <div class="signup-form-fields">
        <label class="signup-form-label" for="email">Email</label>
        <input
          type="email"
          class="signup-form-input"
          id="email"
          formControlName="emailAddress"
        />
      </div>

      <div class="signup-form-fields">
        <label class="signup-form-label" for="password">Password</label>
        <div class="signup-form-password">
          <input
            type="{{ pwdShow ? 'text' : 'password' }}"
            id="password"
            formControlName="password"
          />
          <button (click)="passwordToggle()">
            <ng-container *ngIf="pwdShow">
              <i class="fa-solid fa-eye"></i>
            </ng-container>
            <ng-container *ngIf="!pwdShow">
              <i class="fa-solid fa-eye-slash"></i>
            </ng-container>
          </button>
        </div>
      </div>

      <div class="signup-form-fields">
        <label class="signup-form-label" for="password">Confirm Password</label>
        <div class="signup-form-password">
          <input
            type="{{ confirmPwdShow ? 'text' : 'password' }}"
            id="password"
            formControlName="confirmPassword"
          />
          <button (click)="confirmPasswordToggle()">
            <ng-container *ngIf="confirmPwdShow">
              <i class="fa-solid fa-eye"></i>
            </ng-container>
            <ng-container *ngIf="!confirmPwdShow">
              <i class="fa-solid fa-eye-slash"></i>
            </ng-container>
          </button>
        </div>
      </div>

      <div class="signup-form-fields">
        <button class="signup-button" (click)="onSignupBtnClick()">
          <span *ngIf="!isLoading">
            <span>Sign Up</span>
            <span>
              <i class="fa-solid fa-right-to-bracket"></i>
            </span>
          </span>
          <span *ngIf="isLoading">
            <span class="loader"></span>
          </span>
        </button>
      </div>
    </div>

    <div class="login-link-container">
      <p>
        Already a member?
        <a routerLink="/login" href="#" class="login-link">Login in</a>
      </p>
    </div>
  </div>
</div>
